
body {
    /*background-color: pink;*/
    background-image: url('Images/melania_ze_zbiornika_0.jpg');
}
.delikatny {
    background-color: lightblue;
    color: black;
    border: 2px solid black;
    padding: 10px;
}

a:link {
    color: green;
    background-color: black;
    text-decoration: underline;
  }
  
  a:visited {
    color: red;
    background-color: blueviolet;
    text-decoration: underline;
  }
  
  a:hover {
    color: red;
    background-color: burlywood;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: yellow;
    text-decoration: underline;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: blue;
  }
  